* {
    margin: 0;
    padding: 0;
}


$backgreen: #2DFF8C;
$backblue: #281EFF;


#divgrad {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient($backblue, $backgreen);
}


#divform {
    direction: rtl;
    display: flex;
}

.formline input {
    height: 50px;
    width: 420px;
    background: #F6F6F624 0% 0% no-repeat padding-box;
    margin-left: 20px;
    border: 2px solid #FFFFFF;
}

.formline label {
    font: normal normal normal 16px/20px Varela Round;
}

h1 {
    font: normal normal normal 160px/231px Satisfy;
}


h2 {
    font: normal normal normal 32px/38px Varela Round;
    margin-bottom: 20px;
}

p {
    font: normal normal normal 16px/20px Varela Round;
    padding-bottom: 30px;
}


#button {
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button input {
    width: 200px;
    height: 50px;
    font: normal normal normal 16px/20px Varela Round;
}



@media(max-width:780px) {


    #divgrad {
        height: 1000px;
    }

    h1 {
        text-align: center;
        font-size: 100px;
        margin-right: 200px;
    }
}